:root {
  // FG
  --c-primary: #FFC700;
  --c-primary-hover: #FFD84C;
  --c-primary-active: #F3C41E;

  --c-secondary: #2F80ED;

  --fg-regular: #545454;
  --fg-second: #B5B5B5;
  --fg-on: #E0E0E0;

  // BGs
  --bg-app: #fff;
  --bg-dark: #282828;

  // Nomads
  --c-focus: #2F80ED;
  --c-error: #EB5757;
  --c-success: #6FCF97;
}

